In [1]:
# = 주석

In [2]:
# 숫자형 : 정수로 표현가능
# 산술 연산 가능
a = 567

In [6]:
a

567

In [7]:
'a', "a"

('a', 'a')

In [8]:
a+45

612

In [9]:
a = -123

In [10]:
a

-123

In [11]:
a-a

0

In [12]:
a= 123
b= 567

In [13]:
a+b

690

In [14]:
# 424000000.0
a = 4.24E10

In [15]:
a

42400000000.0

In [16]:
b = 4.24E-3
b

0.00424

In [23]:
#8진수
a = 0o177 # 숫자 0과 알파벳 o를 같이 써줌
a

127

In [24]:
#16진수
a = 0x8ff # 숫자0과 알파벳 x를 같이 써줌
a

2303

In [25]:
#2진수
a = 0b01010 # 숫자 0과 알파벳 b를 같이 써줌
a

10

In [29]:
# 따옴표 사용법
# '', " " , ''' ''', """  """
food = 'python\'s favorite food is perl' # 따옴표앞에\(이스케이프 문자)

In [30]:
# 1. 줄바꿈 \n
multiline = "Life is too short \nYou need python"
multiline

'Life is too short \nYou need python'

In [31]:
print(multiline)

Life is too short
You need python

In [32]:
multiline = """hi hello
namastte"""
multiline

'hi hello\nnamastte'

In [33]:
print(multiline)

hi hello
namastte

문자열 연산은 더하기 곱하기만 가능
더하기는 문자열끼리만, 곱하기는 정수와 같이

In [35]:
a = 'hel'
b = 'lo'
print(a+b)
print("-" * 100)

hello
----------------------------------------------------------------------------------------------------

##### 문자열 인덱싱과 슬라이싱

In [37]:
a = "Life is too short, You need Python"
print(a[8],a[24],a[33])

t e n

In [38]:
a[-1]

'n'

In [40]:
#슬라이싱
b = a[0]+a[2]+a[5]+a[9]
b

'Lfio'

In [42]:
c = a[0:18]
c

'Life is too short,'

In [43]:
c = a[:18]
c

'Life is too short,'

In [44]:
c = a[19:]
c

'You need Python'

In [46]:
c = a
c

'Life is too short, You need Python'

In [47]:
c = a[:]
c

'Life is too short, You need Python'

In [49]:
a = "20010331Rainy"
date= a[:8]
weather = a[8:]

In [50]:
date

'20010331'

In [51]:
weather

'Rainy'

In [68]:
year = a[:4]
month = a[4:6]
date = a[6:8]
weather = a[8:]
print('year = ', year)
print('month = ', month)
print(date)
print(weather)

year =  2001
month =  03
31
Rainy

#### 문자열 formatting
%s = 문자열
%d = 정수
%% = Literal % (%문자 자체)

In [70]:
'나는 사과를 %d개 먹었습니다.'%int(date)

'나는 사과를 31개 먹었습니다.'

In [71]:
'나는 사과를 %d개 먹었습니다.'%(3+2)

'나는 사과를 5개 먹었습니다.'

In [72]:
eat = 129312949120
'나는 사과를 %d개 먹었습니다.'%eat

'나는 사과를 129312949120개 먹었습니다.'

In [73]:
'나는 사과를 %s개 먹었습니다.'%'다섯'

'나는 사과를 다섯개 먹었습니다.'

In [74]:
'나는 %s일 동안 사과를 %d개 먹었습니다.'%("오",5)

'나는 오일 동안 사과를 5개 먹었습니다.'

In [75]:
day = "오"
eat = 10
'나는 %s일 동안 사과를 %d개 먹었습니다.'%(day,eat)

'나는 오일 동안 사과를 10개 먹었습니다.'

In [76]:
# 정렬과 공백
"%10s" % "hi" #문자 앞으로 빈칸 할당

'        hi'

In [77]:
"%-10s" % "hi" #문자 뒤로 빈칸 할당

'hi        '

In [78]:
"%-10sjane." % 'hi'

'hi        jane.'

In [79]:
#소수점 자리수 지정
'%0.4f' %3.141592

'3.1416'

In [80]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [82]:
"I eat {0} apples".format("five")

'I eat five apples'

In [85]:
number = 10
day = "three"
"I ate {0} apples, so I was sick for {1} days.".format(number, day)

'I ate 10 apples, so I was sick for three days.'

In [86]:
"I ate {number} apples, so I was sick for {day} days.".format(number = 100
                                                              ,day = 'fifty')

'I ate 100 apples, so I was sick for fifty days.'

In [87]:
#왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [88]:
#가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [89]:
"{0:=^10}".format("hi")

'====hi===='

In [90]:
"{0:s^10}".format("hi")

'sssshissss'

In [91]:
#f 문자열 포매팅
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}'

'나의 이름은 홍길동입니다. 나이는 30'

In [94]:
name = '홍길동'
age = 30
'나의 이름은' +name+ '입니다. 나이는' +str(age) + '입니다'

'나의 이름은홍길동입니다. 나이는30입니다'

In [96]:
# 문자 갯수 세기
a = 'hobby'
a.count("b")

2

In [98]:
a = 'Python is the best choice'
a.count('t')
'Python is the best choice'.count('t')

3

In [99]:
# 문자열에서 해당 텍스트 위치 구하기 -> 많이사용
a = "python is the best choice"
a.find('i')

7

In [100]:
a.find('k') #없으면 -1

-1

In [101]:
# 문자열 삽입
','.join('abcdefghijklmnop')

'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p'

In [102]:
",".join(['a','b','c'])

'a,b,c'

In [103]:
''.join('abcdefghijklmnop')

'abcdefghijklmnop'

In [104]:
' '.join('abcdefghijklmnop')

'a b c d e f g h i j k l m n o p'

In [106]:
#대문자 a.upper, 소문자 b.lower
#왼쪽 공백 지우기(a.lstrip()), 오른쪽 공백 지우기(a.rstrip)
#양쪽 공백 지우기(a.strip())

In [107]:
#문자열 바꾸기 replace -> 많이 사용
a = 'Life is too short'
a.replace('Life', 'Your Leg')

'Your Leg is too short'

In [108]:
a.replace(' ','')

'Lifeistooshort'

In [109]:
#문자열 나누기(split) <- 많이 사용
a = 'Life is too short'
a.split() #defult <- 공백 기준

['Life', 'is', 'too', 'short']

In [110]:
a = 'a,b,c,d'
a.split(",")

['a', 'b', 'c', 'd']

In [113]:
date = "2021/04/29/rainy"
date = date.split("/")
date

['2021', '04', '29', 'rainy']

## 리스트 자료형

In [115]:
#빈리스트 만들기
a = []
b = list()

In [116]:
#리스트는 안에 자료형이 달라도 괜찮음
#리스트안에 리스트 가능
#리스트도 인덱싱 슬라이싱 가능

In [118]:
c =[1,2, 'test']

In [121]:
c[2]*c[1]

'testtest'

In [122]:
a = [1,2,3,['python','fun']]
a

[1, 2, 3, ['python', 'fun']]

In [123]:
a[3][1]

'fun'

In [124]:
a = [1,2,3,4,5]
a[2]+2

5

In [125]:
#리스트 길이
len(a)

5

In [126]:
a[3]*'hi'

'hihihihi'

In [130]:
list(str(123))

['1', '2', '3']

## 리스트 수정과 삭제

In [135]:
a = [1,2,3]
a[1] = 4
print(a)

[1, 4, 3]

In [136]:
del a[1]

In [137]:
a

[1, 3]

In [141]:
a=[1,2,3]

In [142]:
del a[2]
a

[1, 2]

## 리스트 관련 함수
- .을 이용해 여러가지 함수 호출

In [146]:
a = [1,2,3,4]
c = [5]

In [147]:
# 리스트에 요소 추가 (append()) <- 많이 사용
# 값을 하나씩 추가
a.append(c)

In [148]:
a

[1, 2, 3, 4, [5]]

In [150]:
a.append([0,6])
a

[1, 2, 3, 4, [5], [0, 6], [0, 6]]

In [151]:
a.append('a')
a

[1, 2, 3, 4, [5], [0, 6], [0, 6], 'a']

In [153]:
#리스트 정렬 (sort) / 오름차순 정렬 문자도 가능 *반대는 reverse()
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [154]:
# 위치 반환(index)
a = [1,2,3]
a.index(3)
#list는 find x

2

In [157]:
# 리스트에 특정 위치에 요소 삽입
a = [1,2,3]
a.insert(0,6) #리스트이름.(위치,넣을값)
a

[6, 1, 2, 3]

In [158]:
a = [1,2,3,4,4,4,4,4]
a.remove(4)
a

[1, 2, 3, 4, 4, 4, 4]

In [160]:
#count() 특정 요소의 갯수세기
a.count(4)

4

In [162]:
# 리스트 확장(extend)
a = [1,2,3]
a.extend([4,5])
a #그냥 + 하는게 편함

[1, 2, 3, 4, 5]