In [3]:
#for문
# for 변수 in 순서형 자료:
#문장

lst = ['a','b','c','d','e','f','g']
for i in lst:
    print(i,'를 출력')

a 를 출력
b 를 출력
c 를 출력
d 를 출력
e 를 출력
f 를 출력
g 를 출력

In [6]:
lst = [1,2,3,4,5,6,7,8,9,10]

for i in lst:
    if i % 2 == 1:
        continue
    if i == 6:
        break
    print(i,'번 출력되었습니다')

2 번 출력되었습니다
4 번 출력되었습니다

In [7]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
lst = [1,2,3,4,5,6,7,8,9,10]
i = 0 #while 문은 직접 인덱싱을 해줘야함
while i < len(lst):
    print(lst[i]) #<---인덱싱 하는 과정
    i += 1

1
2
3
4
5
6
7
8
9
10

In [9]:
a = [(1,2),(3,4),(5,6)]
print(a)

[(1, 2), (3, 4), (5, 6)]

In [11]:
for (a1, a2) in a: #튜플형 자료의 2개를 입력 받음
    print(a1 + a2)

3
7
11

In [12]:
for (a1, a2) in a:
    print(a1)
    print(a2)
    print('\n')

1
2


3
4


5
6

In [13]:
# rnage(시작값(0일경우 생략가능), 끝값, 간격(1일경우 생략가능))
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
b = range(0,11,1)
b

range(0, 11)

In [17]:
b = list(range(0,11,1))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# 2 steps increase
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [23]:
# 학급의 평 균 점수 for 문 이용
A = [70,60,55,75,95,90,80,85,100]
sum = 0
for i in A:
    sum = sum + i
print(sum/len(A))
# sum(A)/len(A)

78.88888888888889

In [26]:
for i in range(0,10,2):
    print(i, end=" ")#end=" " 하면 print 출력때 \n(줄바꿈)이 아닌 공백문자를 삽입

0 2 4 6 8

In [37]:
#뀨단
i = 2
j = 2

for i in range(2,10):
    print(" ")
    for j in range(1,10):
        print(i*j,end =" ")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81