https://drive.google.com/file/d/11y3dj4r-FMYHSJs298MPdqdOsNSRzKyM/view #무슨 데이터
https://han.gl/LwZOD #하우스 데이터 링크 
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data #하우스 데이터

In [1]:
import pandas as pd
data_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data"
df_data = pd.read_csv(data_url, sep = '\s+', header = None) # csv로 로드 sep = '\s+'(공백으로 칸을 나누는데 여러개일수도 있음)
df_data.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS',
                  'NOX', 'RM', 'AGE','DIS','RAD',
                  'TAX','PTRATIO','B','LSTAT','MEDV']
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [2]:
import numpy as np

df_data['weight_0'] = 1 # weight 0 칼럼 추가
df_data = df_data.drop("MEDV", axis=1) # Y값을 제거
df_matrix = df_data.values # 행렬 데이터로 변환 .values 함수 -> 컬럼과 테이블 말고 데이터만 가져옴
weight_vector = np.random.random_sample((14,1)) # 가중치 w 생성 (랜덤하게 만든 임의값)
df_matrix.dot(weight_vector) # 내적 연산 실행 결과 출력

array([[ 614.88713341],
       [ 566.78199356],
       [ 549.9009266 ],
       [ 520.62024234],
       [ 528.85998819],
       [ 530.18675818],
       [ 634.56388783],
       [ 658.84591652],
       [ 657.36782094],
       [ 644.48446718],
       [ 655.18451312],
       [ 647.99916788],
       [ 611.66168155],
       [ 618.1243626 ],
       [ 623.64855656],
       [ 613.28943734],
       [ 587.13918885],
       [ 627.04187726],
       [ 527.22780922],
       [ 619.82154902],
       [ 633.36674114],
       [ 636.05186036],
       [ 642.00557347],
       [ 646.77521756],
       [ 641.67141261],
       [ 574.39742251],
       [ 626.97179751],
       [ 578.88276995],
       [ 636.84971208],
       [ 626.17573535],
       [ 620.06748588],
       [ 633.29713394],
       [ 526.417111  ],
       [ 618.48038434],
       [ 546.02699516],
       [ 595.61796377],
       [ 578.04539176],
       [ 576.29544195],
       [ 565.98781741],
       [ 581.20477705],
       [ 576.30028123],
       [ 495.52236892],
       [ 497.03470853],
       [ 504.81730103],
       [ 526.34679841],
       [ 526.5830142 ],
       [ 527.15319615],
       [ 563.98990221],
       [ 576.84688889],
       [ 549.25879138],
       [ 559.86706682],
       [ 570.49140111],
       [ 540.92370496],
       [ 541.84320583],
       [ 810.47087463],
       [ 570.3678162 ],
       [ 657.355724  ],
       [ 616.10455992],
       [ 589.11140708],
       [ 606.37074455],
       [ 620.15570111],
       [ 628.59549903],
       [ 621.07096851],
       [ 603.55721208],
       [ 538.47691754],
       [ 664.62832147],
       [ 675.61157381],
       [ 632.33018494],
       [ 645.20073688],
       [ 641.43708143],
       [ 567.96310458],
       [ 572.06724452],
       [ 573.36595995],
       [ 563.44694154],
       [ 664.05200653],
       [ 685.3424199 ],
       [ 700.8441791 ],
       [ 688.45625406],
       [ 694.96982676],
       [ 687.85231196],
       [ 587.45122948],
       [ 613.98764088],
       [ 586.80497552],
       [ 593.35356374],
       [ 548.95037761],
       [ 550.82742404],
       [ 546.71147188],
       [ 553.1968382 ],
       [ 595.32489218],
       [ 577.86463501],
       [ 577.90160177],
       [ 584.37474465],
       [ 595.90318392],
       [ 578.27782159],
       [ 615.00392831],
       [ 554.08532006],
       [ 586.56045013],
       [ 593.11852352],
       [ 562.12268885],
       [ 583.66915284],
       [ 702.81101582],
       [ 696.72544464],
       [ 488.91754998],
       [ 708.95671096],
       [ 709.18817497],
       [ 715.72891349],
       [ 713.90388587],
       [ 702.52103192],
       [ 716.10579164],
       [ 709.94292592],
       [ 684.12992464],
       [ 751.39858796],
       [ 760.36037752],
       [ 763.86497111],
       [ 748.43494528],
       [ 723.21074083],
       [ 743.65198421],
       [ 751.43613299],
       [ 707.86432278],
       [ 737.46576837],
       [ 510.7184464 ],
       [ 513.44969659],
       [ 520.94195833],
       [ 520.35569713],
       [ 523.78537647],
       [ 521.5365345 ],
       [ 512.23088721],
       [ 768.37636916],
       [ 773.30448975],
       [ 771.12794817],
       [ 771.68331674],
       [ 772.18170937],
       [ 764.52497229],
       [ 765.61357005],
       [ 683.53739059],
       [ 771.95976218],
       [ 757.29928463],
       [ 770.95636717],
       [ 770.83495487],
       [ 773.27622309],
       [ 765.46671586],
       [ 778.44962693],
       [ 744.19871296],
       [ 744.25315013],
       [ 743.0663311 ],
       [ 593.59316004],
       [ 588.52409562],
       [ 738.12304271],
       [ 713.13496999],
       [ 708.94320571],
       [ 723.04318579],
       [ 703.721248  ],
       [ 695.7698036 ],
       [ 649.71066712],
       [ 687.54386045],
       [ 521.10610848],
       [ 529.8847753 ],
       [ 714.74222705],
       [ 710.51573485],
       [ 717.82377965],
       [ 694.86321383],
       [ 716.79346084],
       [ 732.59786365],
       [ 729.0922396 ],
       [ 734.05919695],
       [ 630.18094432],
       [ 717.89890128],
       [ 612.13902411],
       [ 670.89330968],
       [ 692.61083062],
       [ 667.39947449],
       [ 706.52163639],
       [ 626.15102719],
       [ 620.76071666],
       [ 608.12232078],
       [ 579.9294393 ],
       [ 593.12695133],
       [ 612.81585004],
       [ 610.54585974],
       [ 502.24438829],
       [ 520.1172367 ],
       [ 505.83480873],
       [ 524.93263605],
       [ 529.5458898 ],
       [ 523.30865593],
       [ 505.39782863],
       [ 496.04321667],
       [ 713.96058873],
       [ 697.79445229],
       [ 714.6553188 ],
       [ 690.23251571],
       [ 705.00905608],
       [ 701.85620721],
       [ 571.99026409],
       [ 567.09636446],
       [ 593.4044064 ],
       [ 666.33184044],
       [ 640.53077721],
       [ 666.82936828],
       [ 733.1128052 ],
       [ 723.59088227],
       [ 687.34440631],
       [ 670.94546754],
       [ 574.5392023 ],
       [ 571.88173508],
       [ 561.70559979],
       [ 582.74074726],
       [ 595.45544677],
       [ 579.20854804],
       [ 621.27993636],
       [ 611.70160775],
       [ 611.89957351],
       [ 581.72665556],
       [ 561.22792544],
       [ 524.40209508],
       [ 573.88272869],
       [ 584.7931693 ],
       [ 605.38820209],
       [ 616.05323028],
       [ 611.51757654],
       [ 636.13737833],
       [ 643.39936247],
       [ 627.72941913],
       [ 633.79223701],
       [ 623.00312805],
       [ 624.55813656],
       [ 630.53417852],
       [ 616.10834014],
       [ 573.39350629],
       [ 578.40681137],
       [ 613.19397929],
       [ 616.728078  ],
       [ 620.22361764],
       [ 613.60168881],
       [ 599.00723204],
       [ 607.08481866],
       [ 626.0232739 ],
       [ 622.44390998],
       [ 588.534782  ],
       [ 609.0320392 ],
       [ 623.96439262],
       [ 634.29810129],
       [ 610.88442071],
       [ 577.85976857],
       [ 653.5666367 ],
       [ 661.56925643],
       [ 634.44029309],
       [ 657.55975255],
       [ 634.32333634],
       [ 623.39109437],
       [ 621.342099  ],
       [ 604.87627095],
       [ 610.45892604],
       [ 619.04333115],
       [ 650.86154836],
       [ 643.59355051],
       [ 586.7564027 ],
       [ 600.09235847],
       [ 605.93628827],
       [ 611.5864171 ],
       [ 599.59556362],
       [ 601.65754761],
       [ 602.02383757],
       [ 609.6995832 ],
       [ 602.97278117],
       [ 585.47104773],
       [ 597.01408676],
       [ 583.01637549],
       [ 575.61518554],
       [ 546.77327811],
       [ 530.99799254],
       [ 516.21918012],
       [ 545.80931185],
       [ 538.10392032],
       [ 570.47620069],
       [ 577.70230435],
       [ 578.20445053],
       [ 564.97427778],
       [ 570.76018005],
       [ 520.82839123],
       [ 538.16303258],
       [ 522.0473779 ],
       [ 520.64470578],
       [ 539.11348459],
       [ 620.76956745],
       [ 619.96176371],
       [ 546.80591399],
       [ 618.8121879 ],
       [ 629.37165895],
       [ 596.30741304],
       [ 584.63403581],
       [ 584.56927395],
       [ 581.65231631],
       [ 571.84677116],
       [ 589.71802768],
       [ 580.93944966],
       [ 592.98799651],
       [ 603.01098205],
       [ 661.6751868 ],
       [ 656.54623829],
       [ 697.13750157],
       [ 647.24131667],
       [ 622.80664434],
       [ 626.03073214],
       [ 541.61205938],
       [ 553.78695593],
       [ 565.5482678 ],
       [ 564.63949692],
       [ 629.08838754],
       [ 625.46819075],
       [ 566.66993363],
       [ 607.2732365 ],
       [ 635.73285041],
       [ 627.63946494],
       [ 633.06623383],
       [ 627.2235663 ],
       [ 629.05308284],
       [ 624.27216215],
       [ 618.26106599],
       [ 613.68074103],
       [ 592.45386782],
       [ 593.83483863],
       [ 590.93645669],
       [ 605.784309  ],
       [ 583.43605756],
       [ 562.93358984],
       [ 575.72760089],
       [ 588.06937099],
       [ 696.72773982],
       [ 684.99706787],
       [ 692.32493243],
       [ 609.8176102 ],
       [ 583.64358799],
       [ 517.78272277],
       [ 518.11521561],
       [ 520.19584657],
       [ 528.70324125],
       [ 537.45106992],
       [ 521.04372122],
       [ 527.75646907],
       [ 537.21653884],
       [ 603.45693969],
       [ 715.81973424],
       [ 709.01634877],
       [ 682.2501785 ],
       [ 643.39766792],
       [ 632.50980882],
       [ 687.55521645],
       [ 616.46601648],
       [ 642.38345887],
       [ 654.35127033],
       [ 719.72017286],
       [ 722.01107924],
       [ 538.61711428],
       [ 658.70241553],
       [ 651.84431193],
       [ 996.05294087],
       [ 999.15473641],
       [ 996.2378283 ],
       [ 991.54331366],
       [ 984.45853162],
       [ 971.87298766],
       [ 994.73367099],
       [ 971.8179084 ],
       [ 966.31217505],
       [ 970.01947794],
       [ 948.24586055],
       [ 831.04888893],
       [ 991.92030303],
       [ 989.82605206],
       [1001.44394999],
       [ 987.61322969],
       [ 967.40794144],
       [1014.38942925],
       [1015.99033299],
       [1009.1997806 ],
       [ 984.75296892],
       [1010.44254554],
       [1010.85261557],
       [1010.30938669],
       [1014.50416931],
       [1011.47953653],
       [1011.85152497],
       [1011.89255559],
       [ 933.47898803],
       [1012.99468342],
       [1014.72607106],
       [1007.76434646],
       [ 997.95969312],
       [1010.36180759],
       [1006.44299753],
       [ 985.41487449],
       [1010.54309578],
       [1004.59318892],
       [1006.96971403],
       [1006.25109573],
       [1007.65001641],
       [1007.4858842 ],
       [1017.10641847],
       [ 957.64464804],
       [1014.63776496],
       [1011.77509908],
       [ 997.23710482],
       [1010.07175694],
       [ 960.76841649],
       [1010.99297551],
       [ 994.89736175],
       [ 965.66818365],
       [ 955.27485981],
       [ 865.15281153],
       [ 748.37598306],
       [ 768.29948049],
       [ 767.63797248],
       [ 888.25902239],
       [ 811.77123671],
       [ 765.59408839],
       [ 753.38618825],
       [ 825.25498325],
       [ 763.28495107],
       [ 760.43851212],
       [ 957.71276729],
       [ 954.73539195],
       [ 930.2470042 ],
       [ 735.41483676],
       [ 724.3534125 ],
       [ 747.69295455],
       [ 730.60043824],
       [ 743.42477138],
       [ 793.31496684],
       [ 782.73378324],
       [ 789.53181593],
       [ 794.83305736],
       [ 789.57444641],
       [ 801.6118311 ],
       [ 807.81689654],
       [ 815.25447984],
       [ 757.93797428],
       [ 752.58021493],
       [ 785.40371757],
       [1007.42517447],
       [1004.12573314],
       [1001.95039845],
       [1009.29084633],
       [1004.33342502],
       [ 904.81465074],
       [ 770.42638493],
       [ 954.77217518],
       [1002.61729466],
       [1010.15198458],
       [ 947.46222436],
       [ 738.25619598],
       [ 981.28390274],
       [ 996.50542806],
       [ 996.18915236],
       [ 744.40182063],
       [ 767.84667545],
       [ 741.89268348],
       [ 731.73562584],
       [ 914.95966893],
       [ 998.88911643],
       [ 907.70344827],
       [ 997.64210336],
       [ 997.71101644],
       [ 999.76247816],
       [ 984.97245797],
       [ 929.988137  ],
       [ 746.96368953],
       [ 963.20558912],
       [ 972.16658042],
       [ 979.50416091],
       [ 998.87540631],
       [1001.91539682],
       [ 989.30125354],
       [ 970.60893091],
       [ 977.79095026],
       [ 946.79761368],
       [1005.57593048],
       [ 979.32782568],
       [ 997.13210923],
       [ 992.43193953],
       [ 983.93486957],
       [ 988.06043772],
       [ 990.99109313],
       [ 963.40761342],
       [ 950.01981523],
       [ 969.1004532 ],
       [ 993.17590365],
       [ 969.52581563],
       [1029.49511786],
       [1000.56117197],
       [ 984.45673831],
       [1030.66540214],
       [1023.12247618],
       [ 693.52308098],
       [ 685.59934413],
       [ 674.28631908],
       [ 709.74501118],
       [ 706.50449921],
       [ 702.03926391],
       [ 707.73023549],
       [ 712.94568578],
       [ 585.31928732],
       [ 593.86782904],
       [ 603.48708398],
       [ 600.26389396],
       [ 596.72241669]])

In [3]:
import numpy as np
test_array = np.array([1,4,5,8])
test_array

array([1, 4, 5, 8])

In [4]:
type(test_array[3])

numpy.int32

In [5]:
test_array = np.array([1,4,5,8], float)
test_array

array([1., 4., 5., 8.])

In [8]:
type(test_array[3])

numpy.float64

In [14]:
test_array = np.array([1,4,5,"8"], float)
print(test_array) # 넘파이 배열은 쉼표가 없음

[1. 4. 5. 8.]

In [15]:
print(type(test_array[3])) # 형변환
print(test_array.dtype) #배열 전체 타입
(test_array.shape) # 배열의 구조를 반환함 1차원 요소값만 4개

<class 'numpy.float64'>
float64

(4,)

In [16]:
matrix = [[1,2,5,8],
          [1,2,5,8],
          [1,2,5,8]]
np.array(matrix, int).shape

(3, 4)

In [18]:
tensor_rank3 = [
    [[1,2,5,8],[1,2,5,8],[1,2,5,8]],
    [[1,2,5,8],[1,2,5,8],[1,2,5,8]],
    [[1,2,5,8],[1,2,5,8],[1,2,5,8]],
    [[1,2,5,8],[1,2,5,8],[1,2,5,8]]
]
np.array(tensor_rank3, int).shape

(4, 3, 4)

In [20]:
np.array(tensor_rank3, int).ndim #차원 알아보기

3

In [21]:
np.array(tensor_rank3, int).size # 크기 알아보기

48

In [25]:
#dtype 함수로 원하는 데이터 형태로 저장 가능하다.
np.array([[1,2,3.7], [4,5,6.5]], dtype=int ) #정수형 선언으로 소숫점 밑은 절삭

array([[1, 2, 3],
       [4, 5, 6]])

In [24]:
np.array([[1,2,3.7], [4,5,6.5]], dtype=float )

array([[1. , 2. , 3.7],
       [4. , 5. , 6.5]])

In [26]:
np.array([[1,2,3.5], [4,5,6.5]]) # 생략시 가장 포함할수 있는 타입으로 선언

array([[1. , 2. , 3.5],
       [4. , 5. , 6.5]])

In [27]:
np.array([[1,2,3.5], [4,5,6.5]], dtype=np.float64).itemsize # 차지하는 바이트를 출력 (메모리할당량)

8

In [28]:
np.array([[1,2,3.5], [4,5,6.5]], dtype=np.float32).itemsize

4

### 배열 구조 다루기
- 상황에따라 구조 변경할 경우엔 reshape 함수를 사용

In [29]:
x = np.array([[1,2,5,8],[1,2,5,8]])
x.shape

(2, 4)

In [30]:
x.reshape(-1,) # 축소?

array([1, 2, 5, 8, 1, 2, 5, 8])

In [32]:
x = np.array(range(8))
x

array([0, 1, 2, 3, 4, 5, 6, 7])

In [34]:
x.reshape(2,4) # 분할 ?

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [35]:
x = np.array(range(8)).reshape(4,2)
x

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [40]:
x.reshape(2,-1) #-1은 전체요소의 갯수는 고정하고 전체요소 갯수를 고려하여 마지막 차원이 자동으로 지정되는 기법이다.

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [41]:
x.reshape(2,2,-1)

array([[[0, 1],
        [2, 3]],

       [[4, 5],
        [6, 7]]])

In [43]:
x.reshape(1,-1)

array([[0, 1, 2, 3, 4, 5, 6, 7]])

In [45]:
x.flatten() #데이터를 1차원으로 변경

array([0, 1, 2, 3, 4, 5, 6, 7])

In [51]:
# 넘파이도 인덱싱과 슬라이싱 가능

x = np.array([[1,2,3],[4.5,5,6]], int)
x

array([[1, 2, 3],
       [4, 5, 6]])

In [52]:
x[0][0] #[행][열]

1

In [53]:
x[0,2] #[행,열]

3

In [55]:
x[0,1] = 100
x

array([[  1, 100,   3],
       [  4,   5,   6]])

#### 슬라이싱

In [56]:
x = np.array([[1,2,3,4,5],[6,7,8,9,10]], int)
x[:,2:] #전체 행의 2열 이상

array([[ 3,  4,  5],
       [ 8,  9, 10]])

In [58]:
x[1,1:3] #1행의 1~2열

array([7, 8])

In [61]:
x[1:3] # 1행 ~ 2행의 전체

array([[ 6,  7,  8,  9, 10]])

In [62]:
x = np.array(range(15), int).reshape(3,-1)
x

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [63]:
x[:,::2]

array([[ 0,  2,  4],
       [ 5,  7,  9],
       [10, 12, 14]])

In [65]:
x[::2,::3] #::2 = 1,3 행만 선택 ::3 3칸씩마다

array([[ 0,  3],
       [10, 13]])

#### 배열생성 함수
    - arnage(시작인덱스, 마지막인덱스, 증가값) *실수형도 입력 가능

In [67]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [69]:
np.arange(-5,5,2)

array([-5, -3, -1,  1,  3])

In [70]:
np.arange(0,5,0.5)

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

- ones, zeros, empty
- 추가로 ones_like 처럼 뒤에 _like를 붙으면 어떤 배열을 1,0 으로 반환

    - ones() : 1로만 구성된 넘파이 배열 생성
    - zeros() : 0으로만 구성된 넘파이 배열 생성
    - empty() : 활용가능한 메모리 공간 확보, 메모리 공간에 남은값 반환
    - 전부다 shape 파라미터로 크기 지정가능

In [71]:
np.ones(shape =(5,2), dtype=np.int8)

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]], dtype=int8)

In [72]:
np.zeros(shape=(2,2), dtype = np.float32)

array([[0., 0.],
       [0., 0.]], dtype=float32)

In [74]:
np.empty(shape=(2,4), dtype = np.float32) #거의 안쓰임

array([[7.7103857e-26, 4.8344797e-43, 7.7107998e-26, 4.8344797e-43],
       [7.7107209e-26, 4.8344797e-43, 7.7108392e-26, 4.8344797e-43]],
      dtype=float32)

In [76]:
np.zeros(shape=x.shape, dtype = np.float32) #zeros_like와 동일하게 사용가능

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]], dtype=float32)

In [78]:
#identity() : 단위행렬 생성

np.identity(n=3, dtype = int) #대각선이 1로 가득찬 단위행렬 생성

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [79]:
np.identity(n=4, dtype = int)

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [81]:
#eye() 함수는 동일하게 1을 생성하는 함수지만 시작점과 크기를 지정할 수 있음

np.eye(N=3, M=5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.]])

In [83]:
np.eye(N=3,M=5,k=2)

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [84]:
#diag 행렬값을 추출할때 사용 -> 대각행렬만 뽑을때 사용
matrix = np.arange(9).reshape(3,3)
matrix

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [85]:
np.diag(matrix)

array([0, 4, 8])

In [ ]:
np.diag(matrix, k = 1) #k로 시작점 사용가능

In [90]:
# 통계분석 함수
# uniform() -> 균등분포, normal() -> 정규분포

np.random.uniform(0,5,10) # np.random.uniform(시작값, 끝값, 데이터개수)

array([4.21711177, 4.27068809, 3.83609234, 2.7171139 , 3.4861444 ,
       0.63185384, 3.08115791, 4.25662143, 2.94806018, 1.65087567])

In [91]:
np.random.normal(0,2,10) # np.random.normal시작값, 분산, 데이터개수)

array([ 3.22805398,  2.55738837, -1.50900092, -2.81676538,  1.69928611,
        0.59524015, -2.27381348,  2.60292036,  2.87472027, -1.06075766])

## 넘파이 배열 연산

### 연산함수
    - std, mean, sum과 같은 함수 등
    - 중요한 개념은 축(axis)이다. 축은 배열의 구조(shape)를 설명할때 사용한 개념, 랭크(rank)가 증가할때마다 새로운 차원 이것이 축이라함
    
    식이나 수학 정리가 궁금하면 공돌이의 수학블로그 ㄱ

In [92]:
test_array = np.arange(1,11)
test_array.sum()

55

In [93]:
# 2차원 행렬값을  행또는 열을 기준으로 적용할떄 axis를 사용하여 연산을 수행

test_array = np.arange(1,13).reshape(3,4)
test_array

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [94]:
test_array.sum(axis=0) # 0 = 세로로

array([15, 18, 21, 24])

In [95]:
test_array.sum(axis=1) # 1 = 가로로

array([10, 26, 42])

In [97]:
test_array = np.arange(1,13).reshape(3,4)

third_order_tensor = np.array([test_array, test_array, test_array])
third_order_tensor

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]])

In [98]:
third_order_tensor.sum(axis=0) #1+1+1

array([[ 3,  6,  9, 12],
       [15, 18, 21, 24],
       [27, 30, 33, 36]])

In [99]:
third_order_tensor.sum(axis=1) #1+5+9

array([[15, 18, 21, 24],
       [15, 18, 21, 24],
       [15, 18, 21, 24]])

In [100]:
third_order_tensor.sum(axis=2) # 1+2+3+4

array([[10, 26, 42],
       [10, 26, 42],
       [10, 26, 42]])

In [102]:
test_array = np.arange(1,13).reshape(3,4)
test_array

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [104]:
test_array.mean(axis=1) # axis = 1축을 기준으로 평균 연ㅅㄴ

array([ 2.5,  6.5, 10.5])

In [106]:
test_array.std() # 전체 값에 대한 표준편차

3.452052529534663

In [107]:
test_array.std(axis=0) # axis = 0 축을 기준으로 표준편차 연산

array([3.26598632, 3.26598632, 3.26598632, 3.26598632])

In [108]:
np.sqrt(test_array) # 각 요소에 제곱근 연산 수행

array([[1.        , 1.41421356, 1.73205081, 2.        ],
       [2.23606798, 2.44948974, 2.64575131, 2.82842712],
       [3.        , 3.16227766, 3.31662479, 3.46410162]])

In [109]:
# 넘파이 연결 함수 축을 기준으로 발생
# 벡터간의 연결을 통해 행렬 생성 , vstack(수직스택), hstack(수평스택)
v1 = np.array([1,2,3])
v2 = np.array([4,5,6])
np.vstack((v1,v2))

array([[1, 2, 3],
       [4, 5, 6]])

In [110]:
np.hstack((v1,v2))

array([1, 2, 3, 4, 5, 6])

In [111]:
v1 = v1.reshape(-1,1)
v2 = v2.reshape(-1,1)
v1

array([[1],
       [2],
       [3]])

In [112]:
v2

array([[4],
       [5],
       [6]])

In [113]:
np.hstack((v1,v2))

array([[1, 4],
       [2, 5],
       [3, 6]])

In [116]:
v1 = np.array([1,2,3])
v2 = np.array([4,5,6])
np.concatenate((v1,v2), axis=0)

array([1, 2, 3, 4, 5, 6])

In [117]:
# concatenate 두개의 배열을 결합하는 함수
# axis로 행(0)기준 열(1) 기준 연결할지 선택가능

In [130]:
v1 = np.array([[1,2,3,4]]).reshape(2,2)
v2 = np.array([[5,6]]).T
v1

array([[1, 2],
       [3, 4]])

In [131]:
v2

array([[5],
       [6]])

In [132]:
np.concatenate((v1,v2), axis =1)

array([[1, 2, 5],
       [3, 4, 6]])

In [133]:
#사칙연산은 같은 위치에 행렬값끼리 곱해준다

x = np.arange(1,7).reshape(2,3)
x

array([[1, 2, 3],
       [4, 5, 6]])

In [134]:
x + x

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [135]:
x - x

array([[0, 0, 0],
       [0, 0, 0]])

In [136]:
x / x

array([[1., 1., 1.],
       [1., 1., 1.]])

In [137]:
x * x

array([[ 1,  4,  9],
       [16, 25, 36]])

In [138]:
x ** x

array([[    1,     4,    27],
       [  256,  3125, 46656]], dtype=int32)

In [143]:
# 벡터의 내적 연산 (행렬곱) 
# (m x n)*(n x k) = (m x k)인 행렬이 결과로 나온다

x_1 = np.arange(1,7).reshape(2,3)
x_2 = np.arange(1,7).reshape(3,2)
x_1

array([[1, 2, 3],
       [4, 5, 6]])

In [144]:
x_2

array([[1, 2],
       [3, 4],
       [5, 6]])

In [145]:
x_1.dot(x_2)

array([[22, 28],
       [49, 64]])

In [152]:
#브로드캐스팅 연산 -> 행렬과 하나의 값 or 벡터와 연산 하는 개념

x = np.arange(1,10).reshape(3,3)
x

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [153]:
x+10

array([[11, 12, 13],
       [14, 15, 16],
       [17, 18, 19]])

In [154]:
x//3

array([[0, 0, 1],
       [1, 1, 2],
       [2, 2, 3]], dtype=int32)

In [155]:
x%3

array([[1, 2, 0],
       [1, 2, 0],
       [1, 2, 0]], dtype=int32)

In [156]:
x = np.arange(1,13).reshape(4,3)
x

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [157]:
v = np.arange(10,40,10)
v

array([10, 20, 30])

In [158]:
x+v

array([[11, 22, 33],
       [14, 25, 36],
       [17, 28, 39],
       [20, 31, 42]])

### 비교 연산과 데이터 추출

    - boolean type 계산
    - 브로드캐스팅 연산도 가능

In [159]:
x = np.array([4,3,2,6,8,5])
x > 3

array([ True, False, False,  True,  True,  True])

In [160]:
x = np.array([1,3,9])
y = np.array([2,1,7]) #배열끼리도 비교 가능
x > y

array([False,  True,  True])

In [161]:
# all과 any 배열 내부의 값이 참인지 거짓인지에 따라 값 반환
# all() = 모든값이 참이면 True, 하나라도 아니면 False
# any() = 모든값중 하나라도 참이면 True, 모두 거짓이면 False

x = np.array([4,6,7,3,2])
(x>3)

array([ True,  True,  True, False, False])

In [162]:
(x>3).all()

False

In [163]:
(x>3).any()

True

In [164]:
(x<10).any()

True

In [166]:
(x>10).any()

False

In [167]:
# 인덱스 반환함수

x = np.array([4,6,7,3,2])
(x>5)

array([False,  True,  True, False, False])

In [169]:
np.where(x>5) # 조건 만족하는 값의 위치를 알려줌

(array([1, 2], dtype=int64),)

In [170]:

x = np.array([4,6,7,3,2])
np.where(x>5, 10, 20)

array([20, 10, 10, 20, 20])

In [176]:
x = np.array([4,6,7,3,2]) # 작은순의 배열내 순서를 반환
np.argsort(x)

array([4, 3, 0, 1, 2], dtype=int64)

In [177]:
#불린 인덱스

x = np.array([4,6,7,3,2])
(x>3)

array([ True,  True,  True, False, False])

In [178]:
cond = x > 3
x[cond] # True 값만 저장한 변수

array([4, 6, 7])

In [182]:
con = x>3
x[con]

array([4, 6, 7])

In [180]:
x.shape

(5,)

In [183]:
cond.shape

(5,)

In [184]:
# fancy index

x = np.array([4,6,7,3,2])
cond = np.array([1,2,0,2,2,2],int)
x[cond]

array([6, 7, 4, 7, 7, 7])

In [185]:
x.take(cond)

array([6, 7, 4, 7, 7, 7])

In [186]:
x = np.array([[1,4],[9,16]], int)
a = np.array([0,1,1,1,0,0], int)
b = np.array([0,0,0,1,1,1], int)
x[a,b]

array([ 1,  9,  9, 16,  4,  4])